
    <br>
    <br>
    <div class="container">
      <div class="jumbotron">
        <!-- Knocking Button -->
        
        <div class="row-col-10">
          <div class="flex-table">
              <h1><div id="voterId">{{voterId}}</div></h1>
              <h1><div id="firstName">{{firstName}}</div></h1>
              <h1><div id="middleName">{{middleName}}</div></h1>
              <h1><div id="lastName">{{lastName}}</div></h1>
          </div>
        </div>
        
        <div class="row-col-10">
          <div class="flex-table">
              <h3><id="streetNumber">{{streetNum}}</id></h3>
              <h3><id="streetName">{{streetName}}</id></h3>
              <h3><id="unitNum">{{unitNum}}</id></h3>
          </div>
        </div>

        <div class="row-col-10">
          <div class="flex-table">
              <h3><id="city">{{city}},</id></h3>
              <h3><id="zip">{{zip}}</id></h3>
          </div>
        </div>


<div container="survey">
  <br>

      <h5>Did you knock?</h5>
      <form action="">
        <input type="radio" name="knock" value="1"> Yes<br>
        <input type="radio" name="knock" value="0"> No<br>
      </form>
      <br>
      <h5>Did you hand out literature?</h5>
      <form action="">
        <input type="radio" name="literature" value="1"> Yes<br>
        <input type="radio" name="literature" value="0"> No<br>
      </form>
      <br>
      <h5>Did they sign petition?</h5>
      <form action="">
        <input type="radio" name="petition" value="1"> Yes<br>
        <input type="radio" name="petition" value="0"> No<br>
      </form>
      <br>
      <br>
      <h2> Extra Contact</h2>
      <div class="extraContact">
        <label for="inputEmail">Email: </label>
        <input type="email" class="form-control" id="extraEmail" placeholder="email">
        <label for="inputPhone">Phone: </label>
        <input type="phone" class="form-control" id="extraPhone" placeholder="(***)  *** - ****">
      </div>

      <br>
          
    <button type="submit" class="btn btn-default" id="add-interactions">Submit</button>

           
              </div>
            </div>
          </div>
        </div>
      </body>
    {{!-- </html> --}}
