<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vote Knocker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    {{!-- <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --}}
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="assets/css/clean-blog.min.css" rel="stylesheet">
    <link href="assets/css/style_interactions.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#"><img id="logo" src="assets/img/voteknockerlogo.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userStats">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    {{{ body }}}
    <br><br><br><br>

<div class="container">
<div class="jumbotron">
   <div class ="container1">
      <h1>Geony</h1>
      <h2>Address</h2>

  </div>

<div container="survey">

      <p>Did you knock?</p>
      <form action="">
        <input type="radio" name="gender" value="yes"> Yes<br>
        <input type="radio" name="gender" value="no"> No<br>
      </form>
      <p>Did you hand out literature?</p>
      <form action="">
        <input type="radio" name="gender" value="yes"> Yes<br>
        <input type="radio" name="gender" value="no"> No<br>
      </form>
      <p>Did they sign petition?</p>
      <form action="">
        <input type="radio" name="gender" value="yes"> Yes<br>
        <input type="radio" name="gender" value="no"> No<br>
      </form>
      <br>
      <br>
      <h2> Extra Contact</h2>
      <div class="extraContact">
        <label for="inputEmail">Email: </label>
        <input type="email" class="form-control" id="extraEmail" placeholder="email">
        <label for="inputPhone">Phone: </label>
        <input type="phone" class="form-control" id="extraPhone" placeholder="email">
      </div>

      
    <button type="submit" class="btn btn-default">Submit</button> -->

    <!-- Main Content-->
    <br>
    <br>
    <div class="container">
      <div class="jumbotron">
        <!-- Knocking Button -->
        
         
         
        <div class="row-col-10">
          <div class="flex-table">

              <h1><div id="firstName">{{firstName}}</div></h1>
              <h1><div id="middleName">{{middleName}}</div></h1>
              <h1><div id="lastName">{{lastName}}</div></h1>
          </div>
        </div>
        
        <div class="row-col-10">
          <div class="flex-table">
              <h3><id class="streetNumber">{{streetNum}}</id></h3>
              <h3><id class="streetName">{{streetName}}</id></h3>
              <h3><id class="unitNum">{{unitNum}}</id></h3>
          </div>
        </div>

        <div class="row-col-10">
          <div class="flex-table">
              <h3><id class="city">{{city}},</id></h3>
              <h3><id class="zip">{{zip}}</id></h3>
          </div>
        </div>


<div container="survey">
  <br>

      <h5>Did you knock?</h5>
      <form action="">
        <input type="radio" name="gender" value="yes"> Yes<br>
        <input type="radio" name="gender" value="no"> No<br>
        <br>
      </form>
      <h5>Did you hand out literature?</h5>
      <form action="">
        <input type="radio" name="gender" value="yes"> Yes<br>
        <input type="radio" name="gender" value="no"> No<br>
        <br>
      </form>
      <h5>Did they sign petition?</h5>
      <form action="">
        <input type="radio" name="gender" value="yes"> Yes<br>
        <input type="radio" name="gender" value="no"> No<br>
      </form>
      <br>
      <br>
      <h2> Extra Contact</h2>
      <div class="extraContact">
        <label for="inputEmail">Email: </label>
        <input type="email" class="form-control" id="extraEmail" placeholder="email">
        <label for="inputPhone">Phone: </label>
        <input type="phone" class="form-control" id="extraPhone" placeholder="(***)  *** - ****">
      </div>

      <br>
    <button type="submit" href="/status/{{voterId}}"class="btn btn-default">Submit</button>

           
              </div>
            </div>
          </div>
        </div>
      </body>
    </html>
