
<div class="container" id="main-content">

<table class="table table-striped table-light">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Knocked</th>
      <th scope="col">Literature Dropped</th>
      <th scope="col">Petition Signed</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <td>{{id}}</td>
      <td>{{knocked}}</td>
      <td>{{litDroppped}}</td>
      <td>{{petitionSigned}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
      <td>{{createdAt}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>


   